.header{
     min-height: 60vh;
     background: url(/images/mobile/image-header.jpg)no-repeat center; 
     background-size: cover;

     @media (min-width: 600px){
          background-image: url(/images/desktop/image-header.jpg);
     }
}
.nav{
     padding: 0px $space-sides 0;
     height: 10vh;
     @include flex(center, space-between);
     position: relative;
     border: 1px solid red;
}
.nav__menu{
     @include flex(center, center);
     flex-direction: column;
     gap: 22px; 

     position: absolute;
     top:      120px;
     right:    $space-sides;
     left:     $space-sides;

     background: #fff;
     padding: 2.2rem 0;
     
     transition:  .3s ease-out;
     opacity:      0%;
     z-index:      999;
     visibility:   hidden;

     &::before{
          @include pseudo;
          position: absolute;
          right: 0;
          top: -30px;
          width: 0px;
          height: 0px;

          border-top:    30px solid transparent;
          border-bottom: 30px solid transparent;
          border-right:  30px solid $secondary-White;
     }
}
.nav__link{
     color: $secondary-Dark-grayish-blue;
     font-size: 1.1rem;
     text-align: center;

     display: block;

     padding: .4rem 0;
     width: 150px;;
}
.header__container{
     border: 1px solid red;
     padding: 3rem $space-sides 0;
     min-height: calc(60vh - 10vh);
     position: relative;
}
.title{
     color: #fff;
     letter-spacing: 7px;
     font-size: 2.6rem;
     text-align: center;
     text-transform: uppercase;
}
.icon-arrow{
     position: absolute;
     left: 50%;
     bottom: 29%;
     transform: translate(-50%, 0px);
}

/* MENU ACTIVE 
*/
#js-nav.active{
     .hamburguer{
          border-top: transparent;

          &::before{
               transform: rotate(135deg);
          }
          &::after{
               transform: rotate(-135deg);
               top: -8px;
          }
     }
     .nav__menu{
          visibility: visible;
          opacity: 100%;
     }
}
