.header{
     min-height: 100vh;
     background: url( /images/desktop/image-header.jpg)no-repeat center center;
     background-size: cover;
     position: relative;
}
.nav{
     height: 100px;
     @include width-max(100%, 90%);
     margin: auto;
     @include flex(center, space-between);
}
.nav__menu{
     display: flex;
     align-items: center;
     gap: 40px;
}
.nav__link{
     
     color:       $White;
     font-size:   1.8rem;
     font-family: $font-barlow;
     padding:    .4rem;

     display: block;
}
.header__intro{
     height: calc(100vh - 100px);
     
     @include flex(center, flex-start);
     flex-direction: column;
}
.main-title{
     margin: 9% 0px;
}

