/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-height: 100vh;
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.layout {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.header {
  height: 70vh;
  background: url(/images/mobile/image-hero.jpg) no-repeat;
  background-size: contain;
  background-attachment: fixed;
  padding: 40px 20px 0;
  position: relative;
}
.header .title {
  max-width: 400px;
  border: 3px solid hsl(0, 0%, 100%);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .nav__menu {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 70px 20px 70px;
  text-align: center;
}

.about {
  margin-bottom: 100px;
}
.about .subtitle {
  margin: 40px 0 20px;
}
.about p {
  color: hsl(0, 0%, 55%);
  line-height: 1.4rem;
}
.about .subtitle, .about p {
  padding: 0 20px;
}

.creations .subtitle {
  margin-bottom: 40px;
}

.gallery {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.gallery .gallery__box {
  position: relative;
}
.gallery .gallery__box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5333333333), rgba(0, 0, 0, 0));
}
.gallery .gallery__box picture img {
  height: 100%;
}
.gallery .gallery__box .subtitle-img {
  color: hsl(0, 0%, 100%);
  position: absolute;
  z-index: 9999;
  bottom: -15px;
  left: 20px;
  width: 40%;
  text-align: left;
}

.footer {
  background: hsl(0, 0%, 0%);
  padding: 40px 20px;
  text-align: center;
}

.link-logo {
  display: inline-block;
}

.logo {
  width: 120px;
}

.button-mobile {
  border: none;
  background: transparent;
  cursor: pointer;
}

.hamburguer {
  display: block;
  border-top: 2px solid hsl(0, 0%, 100%);
  width: 20px;
}
.hamburguer::before, .hamburguer::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: hsl(0, 0%, 100%);
  margin: 5px 0;
}

.title, .subtitle {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.title--main {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
}

.subtitle {
  font-size: 2rem;
}

.subtitle-img {
  font-size: 1.5rem;
}

.button {
  border: 2px solid hsl(0, 0%, 0%);
  background: transparent;
  width: 180px;
  padding: 0.8rem 0;
  font-size: 1rem;
  letter-spacing: 5px;
}/*# sourceMappingURL=style.css.map */