.nav__link{
     text-decoration: none;
     color: $White;
     font-size: 1.7rem;
     font-family: $font-alata;
     
     padding: .8rem;
     display: block;
     position: relative;
     
     &::before{
          @include hoverBorderBottom(0%);
          transition: .2s;
     }
     &:hover::before{
         @include hoverBorderBottom(40%);
     }
}
.nav__link--mobile{
     text-transform: uppercase;
     letter-spacing: 2px;
     color: hsl(0, 0%, 80%);
     font-size: 2.5rem;
}