.header{
     padding: 2rem $padding-sides 0;

     display: flex;
     align-items: center;
     justify-content: space-between;
}
.navigation{
     .navigation__list{
        display: flex;
        align-items: flex-end;
        gap: 22px;
        text-align: right;
     }
     .navigation__link{
          color:$corDark-grayish-blue;
          font-size: 1rem;
          display: inline-block;

          @include hoverColor($corSoft-red);
     }
}

.content{
     display: flex;
     gap: 35px;

     .box-title{
          width: 50%;
     }
     .box-text{
          width:  50%;

          .text{
               margin-bottom: 50px;
               padding-right: 12px;
          }
     }
}

.new{
     background: $corVery-dark-blue;
     padding: 2rem 1.2rem 1rem;

     .title-new{
          color: $corSof-orage;
          font-size: 2.4rem;
          margin-bottom: 30px;
     }
     .new__list li:not(.notBorder):after{
          content: '';
          border-bottom: 1px solid $corDark-grayish-blue;
          width: 100%;
          display: block;
          margin: 35px 0;
     }
     .new__link{
          display: inline-block;
          color: $corOff-white;

          font-size: 1.2rem;
          font-weight: 700;

          margin-bottom:12px;
          @include hoverColor($corSof-orage);
     }
}
.others{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 35px;
     padding: 40px 0 100px;
     
     .others__box{
          border: 1px solid;
        
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 12px;
       
          .others__box-img{
               .others__img{
                    max-width: 120px;
               }
          }
          .others__content{
               width: 208px;
          }
          .others__number{
               font-size: 1.8rem;
               font-weight: 900;
               letter-spacing: 2px;
               
               color: $corGrayish-blue;
               margin-bottom: 12px;
          }
          .others__link{
               display: inline-block;
               color: $corVery-dark-blue;

               font-weight: 900;
               font-size: 1.1rem;
               
               margin-bottom: 12px;

               @include hoverColor($corSoft-red);
          }
          .text{
               line-height: 1.4rem;
          }
     }
}

.footer{
     background: $corVery-dark-blue;
     color: $corOff-white;

     padding: 20px $padding-sides;;

     text-align: right;
     font-size: 14px;

     a { color: hsl(228, 45%, 44%); }
}