@import 'core';

@import 'base';

@import 'layout';

@import 'components';
 
@media (max-width: 1024px){
     .card{
          margin: 2rem 0;    
     }
}
@media (max-width: 425px){
    .card{
          width: 85%;

          .card__content{
               padding: 2rem 1rem 1rem;
          }
    }
}

@media (max-width:320px){
     .card{
          width: 100%;
          border-radius: 0;
          margin: 0;
          
          .card__content{
               padding: 2rem 1rem 1rem;
          }
     }
}