@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background: hsl(225, 100%, 94%) url(../images/pattern-background-desktop.svg) no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.card {
  max-width: 400px;
  background: hsl(225, 100%, 98%);
  border-radius: 20px;
  overflow: hidden;
}
.card .card__content {
  text-align: center;
  padding: 2rem 2.4rem 1rem;
}
.card .card__content .title {
  margin-bottom: 10px;
}
.card .card__content .text {
  margin-bottom: 12px;
}
.card .card__content .card__box-plan {
  background: hsl(225, 100%, 96%);
  border-radius: 18px;
  padding: 12px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card__content .card__box-plan .card__plan {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card .card__content .card__box-plan .card__plan .card__preco {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.card .card__content .card__box-plan .card__plan p:first-child {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 14px;
}
.card .card__content .card__box-plan .card__plan p:last-child {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
}
.card .card__content .card__group-buttons .button + .button {
  margin-top: 12px;
}

.title {
  color: hsl(223, 47%, 23%);
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.text {
  color: hsl(224, 23%, 55%);
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.button-change {
  border: none;
  border-bottom: 1px solid hsl(245, 75%, 52%);
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(245, 75%, 52%);
  font-family: "Red Hat Display", sans-serif;
  cursor: pointer;
  transition: 0.2s border;
}
.button-change:hover {
  color: hsl(245, 75%, 52%);
  opacity: 80%;
}
.button-change:hover {
  border-bottom: 1px solid transparent;
}

.button {
  border: none;
  border-radius: 12px;
  box-shadow: 0px 10px 15px hsl(225, 100%, 84%);
  width: 100%;
  padding: 1rem 0;
  background: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: opacity 0.2s;
}
.button:hover {
  color: hsl(225, 100%, 98%);
  opacity: 80%;
}

.button--bg {
  background: none;
  box-shadow: none;
  color: hsl(224, 23%, 55%);
  width: 50%;
  transition: color 0.2s;
}
.button--bg:hover {
  color: hsl(223, 47%, 23%);
  opacity: 100%;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1024px) {
  .card {
    margin: 2rem 0;
  }
}
@media (max-width: 425px) {
  .card {
    width: 85%;
  }
  .card .card__content {
    padding: 2rem 1rem 1rem;
  }
}
@media (max-width: 320px) {
  .card {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .card .card__content {
    padding: 2rem 1rem 1rem;
  }
}/*# sourceMappingURL=main.css.map */