@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

$PaleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

@mixin hover($color, $opacity){
     &:hover{
          color: $color;
          opacity: $opacity;
     }
}

body{
     min-height: 100vh;
     font-family: 'Red Hat Display', sans-serif;
     background-color: $PaleBlue;

     display: flex;
     align-items: center;
     justify-content: center;
}
img{
     max-width: 100%;
}
.title{
     color: $darkBlue;
     font-size:1.5rem;
     font-weight: 900;
     letter-spacing: 1px;
}
.text{
     color: $DesaturatedBlue;
     line-height: 1.4rem;
     font-size: .9rem;
}
.link-change{
     font-weight: 700;
     font-size: .9rem;
     color: $brightBlue;

     transition: .2s;

     @include hover($brightBlue,  80%);

     &:hover{
          text-decoration: none;
     }
}
.button{
     border: none;
     border-radius: 12px;
     box-shadow: 0px 5px 10px hsl(225, 100%, 84%);

     width: 100%;
     padding: 1rem 0;

     background: $brightBlue;
     color: $veryPaleBlue;

     font-weight: 700;
     font-size: .9rem;
     letter-spacing: 1px;

     cursor: pointer;

     transition: opacity .2s;
     @include hover($veryPaleBlue, 80%);
}
.button--bg{
     background:none;
     box-shadow: none;
     color: $DesaturatedBlue;
     width: 50%;

     transition:color 0.2s;
     @include hover($darkBlue, 100%);
}
.attribution { 
     font-size: 12px; 
     text-align: center; 
     margin-top: 5px;
 }
.attribution a { color: hsl(228, 45%, 44%); }
 
.card{
     max-width: 390px;

     background: $veryPaleBlue;
     border-radius: 20px;
     overflow: hidden;

     .card__content{
          text-align: center;
          padding: 2rem;

          .title{
               margin-bottom: 10px;
          }
          .text{
               margin-bottom: 12px;
          }

          .card__box-plan{
               background: hsl(225, 100%, 96%);
               border-radius: 18px;

               padding: 20px;
               margin-bottom: 20px;

               display: flex;
               align-items: center;
               justify-content: space-between;

               .card__plan{
                    display: flex;
                    align-items: center;
                    gap:12px;

                    .card__preco{
                         display: flex;
                         flex-direction: column;
                         align-items: flex-start;
                         gap: 5px;
                    }
                    & p:first-child{
                         color: $darkBlue;
                         font-weight: 900;
                    }
                    & p:last-child{
                         color: $DesaturatedBlue;
                         font-size: 16px;
                    }
               }
          }

          .card__group-buttons{
               .button + .button{
                    margin-top: 12px;
               }
          }
     }
}