html{
     font-size: 62.5%;
}
body{
     min-height: 100vh;

     font-family: $font-fraunces;
     font-size: 1.8rem;
}
img{
     max-width: 100%;
     display: block;
}
picture{
     display: block;
}