$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

$primary-Soft-red: hsl(7, 99%, 70%);
$primary-Yellow: hsl(51, 100%, 49%);
$primary-Dark-desaturated-cyan: hsl(167, 40%, 24%);
$primary-Dark-blue: hsl(198, 62%, 26%);
$primary-Dark-moderate-cyan: hsl(168, 34%, 41%);

$secondary-Very-dark-desaturated-lue: hsl(212, 27%, 19%);
$secondary-Very-dark-grayish-blue: hsl(213, 9%, 39%);
$secondary-Dark-grayish-blue: hsl(232, 10%, 55%);
$secondary-Grayish-blue: hsl(210, 4%, 67%);
$secondary-White: hsl(0, 0%, 100%);

$space-sides: 25px;