@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --Light-gray: hsl(212, 45%, 89%);
     --Grayish-blue: hsl(220, 15%, 55%);
     --Dark-blue: hsl(218, 44%, 22%);
}
body{
     font-family: 'Outfit', sans-serif;
     font-size: 15px;

     min-height: 100vh;
     background: var(--Light-gray);

     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
img{
     max-width: 100%;
}
.title{
     color: var(--Dark-blue);
     font-size: 1.2rem;
}
.text{
     color: var(--Grayish-blue);
     font-size: 1rem;
}
.card{
     background: white;
     border-radius: 18px;

     width: 90%;
     max-width: 400px;
     margin: 4rem 0 2rem; 
     padding: 1.4rem 1.4rem 1.8rem;

     text-align: center;
}
.card__boxImg{
     margin-bottom: 20px;
}
.card__boxImg img{
     display: block;
     border-radius: 18px;
}
.card .title, .text{
     padding: 0 1rem;
}
.card .title{
     margin-bottom: 12px;
}
.footer{
     text-align: center;
     font-size: .9rem;

     margin-bottom: 1.4rem;
}
.footer a { color: hsl(228, 45%, 44%); }

@media (min-width:1024px){
     .title{
          font-size: 1.4rem;
     }
     .text{
          font-size: 1.1rem;
     }
}