@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  min-height: 100%;
  display: block;
}

body {
  font-family: "Inter", sans-serif;
}

.main-title {
  font-size: 3.8rem;
  color: hsl(240, 100%, 5%);
}

.text {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 1.8rem;
}

.text--color {
  color: hsl(233, 8%, 79%);
}

.button {
  border: none;
  background: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 0.8rem 0;
  width: 200px;
  cursor: pointer;
  transition: background 0.2s;
}
.button:hover {
  background: hsl(240, 100%, 5%);
}

body {
  min-height: 100vh;
  width: 100%;
  background: hsl(36, 100%, 99%);
}

.header {
  padding: 2rem 9rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-grid {
  padding: 3rem 9rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "picture picture new" "conteiner conteiner new" "others-new others-new others-new";
  gap: 35px;
}

.picture {
  grid-area: picture;
}

.conteiner {
  grid-area: conteiner;
}

.new {
  grid-area: new;
}

.others {
  grid-area: others-new;
}

.header {
  padding: 2rem 9rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation .navigation__list {
  display: flex;
  align-items: flex-end;
  gap: 22px;
  text-align: right;
}
.navigation .navigation__link {
  color: hsl(236, 13%, 42%);
  font-size: 1rem;
  display: inline-block;
  transition: 0.2s;
}
.navigation .navigation__link:hover {
  color: hsl(5, 85%, 63%);
}

.content {
  display: flex;
  gap: 35px;
}
.content .box-title {
  width: 50%;
}
.content .box-text {
  width: 50%;
}
.content .box-text .text {
  margin-bottom: 50px;
  padding-right: 12px;
}

.new {
  background: hsl(240, 100%, 5%);
  padding: 2rem 1.2rem 1rem;
}
.new .title-new {
  color: hsl(35, 77%, 62%);
  font-size: 2.4rem;
  margin-bottom: 30px;
}
.new .new__list li:not(.notBorder):after {
  content: "";
  border-bottom: 1px solid hsl(236, 13%, 42%);
  width: 100%;
  display: block;
  margin: 35px 0;
}
.new .new__link {
  display: inline-block;
  color: hsl(36, 100%, 99%);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 12px;
  transition: 0.2s;
}
.new .new__link:hover {
  color: hsl(35, 77%, 62%);
}

.others {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 40px 0 100px;
}
.others .others__box {
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.others .others__box .others__box-img .others__img {
  max-width: 120px;
}
.others .others__box .others__content {
  width: 208px;
}
.others .others__box .others__number {
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: hsl(233, 8%, 79%);
  margin-bottom: 12px;
}
.others .others__box .others__link {
  display: inline-block;
  color: hsl(240, 100%, 5%);
  font-weight: 900;
  font-size: 1.1rem;
  margin-bottom: 12px;
  transition: 0.2s;
}
.others .others__box .others__link:hover {
  color: hsl(5, 85%, 63%);
}
.others .others__box .text {
  line-height: 1.4rem;
}

.footer {
  background: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 20px 9rem;
  text-align: right;
  font-size: 14px;
}
.footer a {
  color: hsl(228, 45%, 44%);
}

/*
@media (min-width: 320px){
     $padding-sides: 1rem;

     #nav{
          display: none;
     }
     .header{
          padding: 2rem $padding-sides 0;
     }
     .main-grid{
          width: 100%;
          padding: 2.5rem $padding-sides 0;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:
          "picture picture picture"
          "conteiner conteiner conteiner"
          "new new  new "
          "others-new others-new others-new";

          gap: 0;
     }

     .conteiner{
          .content{
               display: block;
               .box-title{
                    width: 100%;

                    .title{
                         font-size: 2.4rem;
                         color: $corVery-dark-blue;
                         padding-right: 20px;

                         margin: 18px 0;
                    }
               }
               .box-text{
                    width:  100%;

                    .text{
                         margin-bottom: 30px;
                         padding-right: 12px;
                    }
               }
          }
     }
     .new{
          padding: 2rem 1.4rem 1rem;
          margin-top: 50px;
     }

     .others{
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;

          padding: 50px 0 100px;

          .others__box{
               align-items: flex-end;

               .others__link{
                    font-size: 1rem;
               }
          }
     }
     .footer{
          text-align: center;
          padding: 2rem $padding-sides;
     }
}
*/
@media (max-width: 1380px) {
  .header, .main-grid, .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 1125px) {
  .main-title {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .header, .main-grid, .footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .main-grid {
    width: 100%;
    padding: 2.5rem 4rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "picture picture picture" "conteiner conteiner conteiner" "new new  new " "others-new others-new others-new";
    gap: 40px;
  }
  .conteiner .content .box-title {
    border: 1px solid red;
  }
  .conteiner .content .box-title .title {
    font-size: 2.4rem;
    color: hsl(240, 100%, 5%);
    padding-right: 20px;
    margin: 18px 0;
  }
  .conteiner .content .box-text {
    border: 1px solid;
  }
  .conteiner .content .box-text .text {
    margin-bottom: 30px;
    padding-right: 12px;
  }
}/*# sourceMappingURL=style.css.map */