.button-mobile{
     border: none;
     background: transparent;
     cursor: pointer;
}
.hamburguer{
     display: block;
     border-top: 3px solid #fff;

     &::before, &::after{
          @include pseudo;
          width: 30px;
          height:3px;
          background: #fff;
          margin: 4px 0;
          position: relative;
          transition: .3s;
     }
}