.button-mobile{
     border: none;
     background: transparent;
     display: none;
}
.hamburguer{
     border-top: 2px solid #fff;
     width: 25px;
     display: block;

     &::before, &::after{
          content: "";
          display: block;
          background: #fff;
          width: 25px; 
          height: 2px;
          margin: 5px 0;

          position: relative;
          transition: .3s;

     }
}