.link-button-learn{
     display: inline-block;
     text-transform: uppercase;
     color: $Very-dark-desaturated-blue;
     font-weight: 700;
     letter-spacing: 1px;
     font-size: 1.6rem;
     position: relative;

     padding: .6rem;

     &::after{
          content: "";
          width: 100%;
          height: 8px;
          border-radius: 8px;
          position: absolute;
          left: 0;
          bottom: 5px;

          z-index: -1;
          transition: background .2s;
     }
}
.link-button-learn--transform{
     &::after{
          background-color: hsl(51, 100%, 80%);
     }
     &:hover::after{
          background-color: $Yellow;
     }
}
.link-button-learn--stand{
     &::after{
          background-color: hsl(7, 99%, 90%);
     }
     &:hover::after{
          background-color: $Soft-red;
     }
}