.main-title{
     color:          $White;
     font-size:      6rem;
     letter-spacing: 8px;
     text-align:     center;
     text-transform: uppercase;

     max-width: 90%;
     width:     100%;
}
.subtitle{
     font-size:  4.2rem;
     color:      $Very-dark-desaturated-blue;
     font-weight: 900;
}
.subtitle--size{
     font-size: 2.8rem;
}
.subtitle--client{
     color:          $Grayish-blue;
     text-transform: uppercase;
     letter-spacing: 4px;
     font-size:      2rem;
}

/* Color variations are in the layout */