.header{
     padding: 2rem 9rem 0;

     display: flex;
     align-items: center;
     justify-content: space-between;
}
.nav__menu{
     display: flex;
     align-items: center;
     gap: 8px;
}
.nav__link{
     display: block;
     font-size: 1rem;
     padding: 10px 15px;
     font-weight: 400;
     color: $Dark-grayish-blue;

     transition: color .2s;
     
     &:hover{
          color: $Soft-red;
     }
}