.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.box-title{
    .title{
        font-size: 3.5rem;
      
        color: $Very-dark-blue;
        font-weight: 900;
        max-width: 300px;
    }
}
.content {
    .text{
        margin-bottom: 50px;
        padding-right: 12px;
    }
}