.btn-mobile{
     border: none;    
     background: transparent;
     cursor: pointer;
     z-index: 999;
     
     .hamburguer{
          display: block;
          border-top: 2px solid $White;
          width: 30px;
          position: relative;

          &:before, &::after{
               content: '';
               width: 30px;
               height: 2px;
               background-color: $White;
               margin: 5px 0;
               display: block;
               position: relative;
               transition: .3s;
          }
     }
}