.button-mobile{
     border: none;
     background: transparent;
     cursor: pointer;
}
.hamburguer{
     display: block;
     border-top: 2px solid $White;
     width: 20px;

     &::before, &::after{
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          background: $White;
          margin: 5px 0;
     }
}