.title, .subtitle{
     font-family: $font-Josefin-Sans;
     text-transform: uppercase;
}
.title--main{
     color: $White;
     font-size: 2.2rem;
}
.subtitle{
     font-size: 2rem;
}
.subtitle-img{
     font-size: 1.5rem;
}