@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --Violet: hsl(257, 40%, 49%);
     --Soft-Magenta: hsl(300, 69%, 71%);
}

body{
     min-height: 100vh;
     font-family: 'Open Sans', sans-serif;

     background: var(--Violet) url(images/bg-mobile.svg)no-repeat;
     background-size: contain;
}
img{
     max-width: 100%;
}
.header, .main{
     padding: 0 1rem;
}
/* ------- */

/* COMPONENTS */
.logo{
     width: 140px;
}
.title, .text{
     color: #fff;
}
.title{
     font-size: 1.6rem;
}
.text{
     line-height: 1.8rem;
}
.button-link{
     font-family: 'Poppins', sans-serif;

     text-decoration: none;
     display: inline-block;

     color: var(--Violet);

     background: #fff;
     border-radius: 20px;
     padding: .6rem 5rem;
}
/* ----- */

/* STATE */
.button-link{
     transition: .2s;
}
.button-link:hover{
     background: var(--Soft-Magenta);
     color: #fff;
}
.socials__icon{
     transition:border .2s, color .2s;
}
.socials__icon:hover{
     border-color: var(--Soft-Magenta);
     color: var(--Soft-Magenta);
}
/* ------ */
.header{
     padding-top: 1rem;
}

.main{
     padding-top: 4rem;
}
.illustration{
     text-align: center;
}
.illustration-img{
     width: 500px;
}
.content{
     text-align: center;
     padding-top: 4rem;
}
.content .title, .text{
     margin-bottom: 20px;
}

.footer{
     text-align: center;
     padding-top: 4rem;
     padding-bottom: 1rem;
}
.socials{
     margin-bottom: 20px;
}
.socials__link{
     display: inline-block;
     border-radius: 50%;
     text-align: center;
}
.socials__link + .socials__link{
     margin-left: 1rem;
}
.socials__icon{
     color: #fff;
     font-size: 1.2rem;

     padding: 6px;

     border: 1px solid #fff;
     border-radius: 50%;
}
.attribution { 
     font-size: 12px;
     color: #fff;
}
.attribution a{
     color: var(--Soft-Magenta);
}

@media (min-width: 768px){
     .title{
          font-size:1.8rem;
     }
     .text{
          width: 500px;
          margin: 0  auto 20px;
     }
}

@media (min-width: 1024px){
     body{
          background-image:url(images/bg-desktop.svg);
     }
     .header, .main, .footer{
          padding: 0  4rem;
     }
     /* COMPONENTS */
     .logo{
          width: 180px;
     }
     .title{
          font-size: 2.4rem;
     }
     .text{
          margin: 0 0 20px;
     }
     /* --------- */

     .header{
          padding-top: 2rem;
     }

     .main{
          padding-top:3rem;

          display: flex;
          align-items: flex-start;
          gap: 60px;
     }
     .illustration{
          width: 55%;
     }
     .illustration-img{
          width: 100%;
     }
     .content{
          text-align: left;
          padding-top: 40px;
          width: 45%;
     }

     .footer{
          padding-top: 0;
          text-align: right;
          display: flex;
          flex-direction: row-reverse;
          align-items:center;
          gap: 12px;
     }
     .socials{
          margin: 0; /*margin que tinha no mobile */
     }
}