html{
     font-size: 62.5%;
}
body{
     min-height: 100vh;

     font-family: $font-Inter;
     font-size: 1.4rem;
     background: $Off-Black;

     display: flex;
     align-items: center;
     justify-content: center;
}