.card{
     text-align:    center;
     background:    var(--bg-card);
     color:         var(--color-title-link);
     border-radius: 12px;
     

     width: 90%;
     max-width: 350px; 
     padding:   4rem;

     &__header{
          margin-bottom: 20px;
     }
     &__img{
          border-radius: 50%;
          width:         100px;
          margin-bottom: 20px;
     }
     &__title{
          font-size:     2.4rem;
          margin-bottom: 8px;
     }
     &__city{
          color: var(--text-city);
          font-weight: 700;
          font-size: 1.4rem;
          margin-bottom: 30px;
     }

     &__about{
          color: var(--about);
     }

     &__item + &__item{
          margin-top: 12px;
     }

     &__link{
          color: var(--text);
          background: var(--bg-link);
   
          border-radius: 12px;
          font-weight: 700;
          letter-spacing: 1px;

          padding: 1.6rem 0;

          display: block;
          position: relative;
          z-index: 1;
          overflow: hidden;
          transition: .5s ease-out;
          @include hoverBefore();

          &:hover{
               color: var(--color-hover);
          }
     }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 768px){
     .card{
          padding:  2rem;
          margin: 100px 0;
     }
}
@media (max-width: 1366px){
     .card{
          margin: 40px 0;
     }
}