@mixin maxwidth($max-width, $margin: auto){
     max-width: $max-width;
     margin: $margin;
}
@mixin hoverBorderBottom($width){
     content: '';
     position: absolute;
     width: $width;
     height: 3px;
     bottom: 0px;
     left: 50%;
     transform: translate(-50%);
     background: #fff;
}

@mixin breakpoints($name){
     @if ($name == 'movel-one'){
          @media (max-width: 730px){
               @content;
          }
     }
     @else if  ($name == 'tablet'){
          @media (max-width: 768px){
               @content;
          }
     }
     @else if ($name == 'laptop'){
          @media (max-width: 1024px){
               @content;
          }
     }
}