
/*.socials__links{
     display:inline-block;
     padding: .8rem;
     position: relative;
     max-width: 50px;

     &::before{
          @include hoverBorderBottom(0%);
          transition: .2s;
     }
     &:hover::before{
         @include hoverBorderBottom(40%);
     }
}
*/