.footer{
     background: $Black;

     display: flex;
     align-items: center;
     justify-content: space-between;

     padding: 40px 0;

     &__container{
          width: 1100px;
          margin: auto;
     }
}

.nav--footer{
     display: grid;
     grid-template-areas: 
     'logo socials'
     'nav-menu copy';
     justify-content: space-between;
     align-items: center;
}
.logo--footer{
     grid-area: logo;
}
.socials{
     grid-area: socials;

     display: flex;
     align-items: flex-end;
     justify-content: flex-end;
     gap: 5px;
}
.socials__links{
     display:inline-block;
     padding: .8rem;
     position: relative;

     &::before{
          @include hoverBorderBottom(0%);
          transition: .2s;
     }
     &:hover::before{
         @include hoverBorderBottom(40%);
     }
}
.copy{
     grid-area: copy;
}
.copy{
     color: $Dark-Gray;
     font-family: $font-alata;
}