.gallery{
     margin-top: 80px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
     gap: 20px;
     
     &__card{
          text-decoration: none;
          display: inline-block;
          position: relative;

          &::before{
               content: '';
               position: absolute;
               left: 0;
               width: 100%;
               height: 100%;
               background: hsl(0, 0%, 90%);
               opacity: 0%;
               transition: .2s;
               z-index: 3;
          }
          &:hover::before{
               opacity: 60%;
          }
          &:hover .subtitle--gallery{
               color: $Black;
          }
          &::after{
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 60%;
               background: linear-gradient(to top, #0000009c, #0001, rgba(0, 0, 0, 0.014));
          }
     }
     &__box{
          width: 100%;
          height: 100%;
     }
     &__img{
          height: 100%;
          width: 100%;
     }
}
.subtitle--gallery{
     position: absolute;
     width: 70%;
     bottom: 30px;
     left: 20px;
     transition: .3s;
     z-index: 3;
}
.subtitle--gallery-width{
     max-width: 45%;
}