.header{
     background: #212121 url(/images/desktop/image-hero.jpg)no-repeat center center;
     background-size: cover;
}
.nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     @include maxwidth(1100px);
     padding-top: 60px;
}
.nav__menu{
     list-style: none;
     display: flex;
     align-items: center;
     gap: 12px;
}

.box{
     @include maxwidth(1100px);
     padding: 120px 0;
}
.title{
     font-family: $font-alata;
     font-weight: normal;
     font-size: 4.5em;
     letter-spacing: 4px;
     line-height: 6.5rem;
     text-transform: uppercase;
     color: $White;
     border: 2px solid;

     padding: 50px 20px 50px 50px;
     max-width:60%;
}