@mixin hoverBefore(){
     &::before{
          content: '';
          background: var(--bg-hover);
          width: 0;
          height: 100%;
          top: 0;
          left: 0;
          z-index:-1;
          position: absolute;
          display: block;
          transition: .4s ease-out;
     }
     &:hover::before{
          width: 100%;
     }
}