.header{
     height: 70vh;
     background: url(/images/mobile/image-hero.jpg)no-repeat;
     background-size: contain;
     background-attachment: fixed;
     padding:40px $padding-Sides 0;
     position: relative;

     .title{
          max-width:400px;
          border: 3px solid $White;
          padding: 20px;
          position:absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
     }
     .nav__menu{
          display: none;
     }
}
.navigation{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
