@import url('https://fonts.googleapis.com/css2? família= Figtree:ital,wght@0.600;0.800;1.600 & display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --Yellow: hsl(47, 88%, 63%);
     --White: hsl(0, 0%, 100%);
     --Grey: hsl(0, 0%, 50%);
     --Black: hsl(0, 0%, 7%);
}
body{
     min-height: 100vh;
     font-family: 'Figtree', sans-serif;

     background: var(--Yellow);
}
img{
     max-width: 100%;
     display: block;
}
.title-link{
     display: inline-block;
     text-decoration: none;

     padding: .4rem 0; /*Para aumentar um pouco a área do clique no link */

     font-weight: 800;
     font-size: 1.3rem;

     color: var(--Black);
     transition:  color .2s;
}
.title-link:hover{
     color: var(--Yellow);
}

.card{
     background: var(--White);
     border-radius: 18px;
     box-shadow: 8px 8px var(--Black);
     border: 1px solid var(--Black);

     width: 90%;
     max-width: 400px;
     padding: 1.8rem;

     transition: box-shadow .2s;
}
.card__boxImg {
     margin-bottom: 20px;
}
.card__boxImg img{
     border-radius: 12px;
}
.card:hover{
     box-shadow: 12px 12px var(--Black);
}

.card__content p:nth-child(1){
     display: inline-block;
     padding: .5rem .8rem;
     margin-bottom: 18px;

     font-weight: 800;
     font-size: .9rem;

     background: var(--Yellow);
     border-radius: 8px;
}
.card__content p:nth-child(2){
     font-size: .9rem;
     font-weight: 600;
     color: var(--Black);

     margin-bottom: 10px;
}
.card__content .title-link{
     margin-bottom: 10px;
}
.card__content p:nth-child(4){
     color: var(--Grey);
     line-height: 1.8rem;
     font-size: 1rem;
}